<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/e_kantin_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/e_kantin_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.EKANTIN"
        tools:replace="android:allowBackup"
        tools:targetApi="33">
        <activity
            android:name=".activity.admin.LaporanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DialogNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DialogResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.DialogProfilePenjualActivity"
            android:exported="false" />
        <activity
            android:name=".activity.konsumen.DialogProfileKonsumenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.DialogProfileAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.PrintHistoriPesananActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.PrintUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.konsumen.DialogAddPesananActivity"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.DialogAddMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.DialogUpdateMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.DialogUpdateKantinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.DialogAddKantinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.DialogAddKonsumenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.MainPenjualActivity"
            android:exported="false" />
        <activity
            android:name=".activity.konsumen.MainKonsumenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.MainAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>